body {
    background-color: #111;
    color: #b5b5b5;
    font: normal 15px sans-serif,'Bitstream Vera Sans',Helvetica;
    line-height: 1.45;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: white;
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    margin: 0px;
    padding-top: 40px;
    line-height: 1.2;
}

#subtitle {
    text-align: center;
    padding-bottom: 25px;
}

h1, h2 {
    color: #ff9300;
}

pre {
    font: normal 14px monospace;
    border: 0px;
    padding: 5px;
}

@media (max-width: 559px) {
    body {
        font-size: 13px;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .title {
        font-size: 50px;
        padding-top: 10px;
    }

    #subtitle {
        font-size: 13px;
        padding-bottom: 10px;
    }

    pre {
        font-size: 13px;
    }
}

.src {
    border-left: 1px dotted white;
    padding-left: 10px;
    padding-right: 10px;
}

.prompt {
    color: #555;
}

code {
    color: #ccc;
    padding: 5px;
    white-space: nowrap;
}

a {
    color: #66ca61;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 2px;
}

.navtutor {
    color: white;
    width: 100%;
    font-family: sans-serif;
    border-collapse: collapse;
}

.navtutor a {
    font-size: small;
    text-decoration: underline;
}

td.left {
    text-align: left;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

th.center {
    text-align: center;
}

#postamble {
    padding-top: 10px;
}
